{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}
	
	<div class="all-title-box">
		<div class="container text-center">
			<h1>Teachers<span class="m_1">Lorem Ipsum dolroin gravida nibh vel velit.</span></h1>
		</div>
	</div>
	
	<div id="teachers" class="section wb">
        <div class="container">
            <div class="row">
				{% for teacher in object_list %} 
				
				<div class="col-lg-3 col-md-6 col-12">
					<div class="our-team">
						<div class="team-img">
							<img src="{{teacher.image.url}}">
							<div class="social">
								<ul>
									<li><a href="{{teacher.facebook}}" class="fa fa-facebook"></a></li>
									<li><a href="{{teacher.twitter}}" class="fa fa-twitter"></a></li>
									<li><a href="{{teacher.linkedin}}" class="fa fa-linkedin"></a></li>
									<li><a href="{{teacher.youtube}}" class="fa fa-youtube"></a></li>
								</ul>
							</div>
						</div>
						<div class="team-content">
							<h3 class="title"><a href="{% url 'teacher_detail' teacher.pk %}">{{teacher.name}}</a></h3>
							<span class="post">{{teacher.title}}</span>
						</div>
					</div>
				</div>
				{% endfor %}	
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->	

{% endblock %}
   

